# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
*.log

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-debug.log*
expo-*.log

# Metro
.metro-health-check*

# React Native / native builds
/android
/ios
*.apk
*.aab
*.ipa

# Native keys/certs
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# typescript
*.tsbuildinfo

# caches
.cache/
coverage/
.nyc_output/

# local env files
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# temp
.tmp-tests/
